@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    margin: auto;
    max-width: 1600px !important;
    padding: 0 24px !important;
}

.fa-chevron-down {
    font-size: 10px;
    color: #000;
}

.upwork-logo {
    width: 82px;
    height: 32px;
}

.navbar-brand {
    width: 107px;
    margin: 0px !important;
    padding: 0px !important;
}

.nav-height {
    background-color: #fff !important;
    height: 64px !important;
    padding: 0px !important;
}

.nav-link {
    font-size: 13px !important;
    color: #181818 !important;
    padding: 10px 3px 10px 10px !important;
    font-family: "Montserrat", sans-serif;
    font-weight: 500 !important;
    letter-spacing: 0px !important;
}

.nav-item {
    padding-right: 10px !important;
}

.nav-link:hover {
    color: #108a00 !important;

}

.btn {
    padding: 0px 24px !important;
    font-family: "Montserrat", sans-serif;
    font-size: 14px !important;
}

.btn-outline-success {
    border-radius: 10px !important;
    background-color: #108a00 !important;
    color: #fff !important;
}

.btn-outline-success:hover {
    background-color: #15a502 !important;
}

.login:hover {
    color: #000 !important;
}

.px-4 {
    margin: 12px;
}

@media screen and (max-width:1000px) {

    .btn {
        display: none !important;
    }

    .nav-link {
        padding: 0px !important;
        margin: 20px 0;
    }
}

/* Banner-Section*/

.banner-section {
    margin-bottom: 80px;
}

.banner-image {
    margin-top: 90px;
}

.banner-image>img {
    height: 650px;
    border-radius: 20px;
    width: 100%;
}

.banner-heading>h1 {
    color: #fff;
    letter-spacing: -1px;
    font-size: 72px;
    margin-bottom: 36px;
    word-spacing: -4px;
    line-height: 75px;
    margin-top: -10px;
}

@media screen and (max-width:615px) {
    .content {
        padding: 0 !important;
        top: 65% !important;
    }

    .banner-heading>h1 {
        font-size: 50px;
        line-height: 35px !important;
    }
}

@media screen and (max-width:1200px) {

    .banner-heading>h1 {
        font-size: 40px !important;
        line-height: 40px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width:500px) {
    .hide {
        display: none !important;
    }

    .search-button-span {
        display: none !important;
    }

    .absolute-button {
        padding: 8px !important;
    }

    .search-button>input {
        padding: 12px 50px 12px 24px !important;
    }
}

@media screen and (max-width:615px) {
    .resp {
        display: block !important;
    }

    .show {
        display: none !important;
    }

    .banner-image>img {
        height: 400px;
    }

    .banner-image {
        margin-top: 60px !important;
    }

    .banner-image>img {
        border-radius: 0px !important;
        width: 100%;
    }

    .main-box {
        border-radius: 0 !important;
    }
}

.main-box {
    background-color: #4b4244;
    border-radius: 20px;
    padding: 30px;
    max-width: 650px;
    width: 100%;

}

.two-buttons {
    background-color: #5c5855;
    border-radius: 30px;
    border: 1px solid #afafaf;
}

.two-buttons>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    padding: 0;
    list-style: none;
}

.two-buttons>ul>li {
    text-align: center;
    width: 100%;
    padding: 8px 24px;
}

.two-buttons>ul>li>a {
    color: #fff;
    text-decoration: none;
}

.find-talent {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 6px;
}

.search-button {
    margin-top: 30px;
    position: relative;
}

.search-button>input {
    outline-color: #a6cc00;
    background-color: #fff;
    width: 100%;
    border-radius: 30px;
    padding: 12px 155px 12px 24px;
    color: #2a1a1a;
    border: 1px solid black;
}

.absolute-button {
    background-color: #181818;
    right: 0;
    position: absolute;
    margin-right: 6px;
    padding-left: 10px;
    padding-right: 18px;
    align-items: center;
    display: flex;
    text-align: center;
    top: 6px;
    gap: 10px;
    border-radius: 30px;
}

.search-button-icon>i {
    color: #d2ff00;
    display: block;
    height: 100% !important;
    object-fit: contain;
    font-size: 20px;
    font-weight: 600;
    width: 100% !important;
}

.search-button-span {
    padding: 4px;
    color: #fff;
    font-size: 18px;
    align-items: center;
    text-align: center;
    font-weight: 600;
    height: 100% !important;
    font-family: "Montserrat", sans-serif;

}

.brands-logo {
    margin-top: 30px;

}

.brands-logo>ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.brands-logo>ul>li {
    list-style: none;
}

.banner-wraper {
    position: relative;
}

.content {
    position: absolute;
    top: 0;
    padding: 64px;
}

/* Animation-Section*/

.animation-section {
    margin-bottom: 64px;
}

.animation-image>img {
    width: 100%;
    height: 380px;
}

.left-text-section {
    width: 100%;
}

@media screen and (max-width:760px) {
    .left-text-section {
        margin-top: 10px;
    }

    .h4-display-large {
        font-size: 32px !important;
        letter-spacing: -2px !important;
    }

    .primary {
        display: none;
    }

    .how-to-hire-buttons {
        text-align: center;
    }
}


.h4-display-large {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -4px;
    margin: 0px 0px 24px;
    color: #181818;
    font-weight: 500;
}

@media screen and (max-width:1200px) {
    .h4-display-large {
        font-size: 40px !important;
    }
}

@media screen and (max-width:1000px) {
    .h4-display-large {
        font-size: 32px !important;
        letter-spacing: -3px !important;
    }
}

.left-icon-text {
    margin-bottom: 16px;
}

.edit-icon-right {
    margin-right: 20px;
}

.edit-icon-right>i {
    font-size: 22px;
    color: rgb(162 162 162);
}

.text-data>h5 {
    margin: 0;
    color: #181818;
}

.text-data>p {
    color: #181818;
    margin-top: 2px;
    margin-bottom: 0;
}


.how-to-hire-buttons {
    margin-top: 36px !important;
}

.how-to-hire-buttons .primary {
    margin-right: 16px;
    background-color: #108a00;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 24px;
    font-family: "Montserrat", sans-serif;
    border: 2px solid #108a00;
    font-weight: 500;
}

.how-to-hire-buttons .secondery {
    border: 2px solid #108a00;
    text-decoration: none;
    color: #108a00;
    border-radius: 10px;
    padding: 10px 24px;
}

.how-to-hire-buttons .primary:hover {
    background-color: #15a502;
    border-color: #15a502;
}

.how-to-hire-buttons .secondery:hover {
    color: #15a502;
    border-color: #15a502;
}

/* Browse Section*/
.Browse-section {
    margin-bottom: 80px;
}

.browse-wraper {
    padding-bottom: 48px;
}

.browse-heading>h4 {
    margin-bottom: 12px !important;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1px;
    font-family: "Montserrat", sans-serif;
}

.browse-job-label {
    margin-bottom: 32px;
    font-size: 20px;
    color: #676767;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -1px;
    font-weight: 500;
}

.browse-job-label>a {
    color: #15a502;
}

.rating-heading {
    font-size: 24px;
    color: #181818;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px !important;
}

.rating {
    padding-top: 12px !important;
}

.rating span {
    padding-top: 2px !important;
    margin-right: 40px;
    color: #181818;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.rating>i {
    color: #15a502;
}

.rating-box {
    padding: 20px 20px 52px !important;
}

.browse-box {
    background-color: #f9f9f9 !important;
    border-radius: 8px;
}

.browse-box:hover {
    background-color: #e8e8e8 !important;
}

/*Enterprice-Section*/

/* .enterprice-banner {
    background-color: rgb(6, 97, 73);
    width: 100%;
    margin: 48px 0;
}

.text-inverse {
    padding: 35px;
}
.enterprice-heading{
    margin-bottom:  35px;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-weight: 500;
}
.this-is-how{
    font-size: 56px;
    margin-bottom: 20px !important;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -2px;
    line-height: 60px;
    word-spacing: -2px;
}
.bg-mint{
    color: mediumspringgreen;
}




.weel-image{
}
.weel-image>img{
    width: 100%;
    height: 100%;

} */